@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;

.navbar {
  margin-bottom: 3rem;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      justify-content: flex-start;
      align-items: center;
      .logoText {
        cursor: pointer;
        user-select: none;
      }
    }
    .navItemList {
      display: flex;
      align-items: center;
      justify-content: center;
      .navItemText {
        text-align: center;
        font-family: $font-family-system;
        font-weight: $font-weight-regular;
        color: var(--text-primary);
      }
      .active {
        text-decoration: underline;
      }
    }

    .drawer {
      display: none;
    }
  }
}

@include respond-to(sm) {
  .navbar {
    .container {
      .logo {
        justify-content: center;
        flex-grow: 1;
      }

      .menuBtn {
        display: large;
        margin-left: auto;
      }
    }
  }
}
