@use '../abstracts/mixins' as mixins;

.portraitCard {
  width: 300px;
  height: 400px;
  padding: 10px;
  border-radius: 15px !important;
  background-color: var(--primary) !important;
  border: 1px solid var(--tertiary) !important;

  .cardBtn {
    height: 100%;
    .img {
      border-radius: 6px;
      object-fit: contain;
      flex-shrink: 0;
      height: 50%;
    }
    .cardContent {
      height: 50%;
      padding: 0px 5px 0px 3px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .cardTitle {
        font-size: medium;
        @include mixins.line-clamp(2);
      }

      .description {
        font-size: small;
        @include mixins.line-clamp();
      }

      .cardFooter {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .date {
          color: var(--tertiary);
          font-size: smaller;
        }

        .tag {
          font-size: smaller;
          background-color: var(--background-color);
          color: var(--text-tertiary);
          border-radius: 6px;
          text-align: center;
          padding: 4px 10px;
        }
      }
    }
  }
}
