@use '../abstracts/variables' as *;

body.light-mode {
  --primary: #{$primary-light};
  --secondary: #{$secondary-light};
  --tertiary: #{$tertiary-light};
  --quaternary: #{$quaternary-light};
  --background: #{$background-light};
  --background-blue: #{$background-blue-light};
  --text-primary: #{$text-primary-light};
  --text-secondary: #{$text-secondary-light};
  --text-tertiary: #{$text-tertiary-light};
}

body.dark-mode {
  --primary: #{$primary-dark};
  --secondary: #{$secondary-dark};
  --tertiary: #{$tertiary-dark};
  --quaternary: #{$quaternary-dark};
  --background: #{$background-dark};
  --background-blue: #{$background-blue-dark};
  --text-primary: #{$text-primary-dark};
  --text-secondary: #{$text-secondary-dark};
  --text-tertiary: #{$text-tertiary-dark};
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}
